.App {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
 
    .App__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        // margin-top: .2rem;
        position: fixed;
        top: 0; /* Se asegura de que esté en la parte superior */
        left: 50%; /* Centrado horizontal */
        transform: translateX(-50%); /* Ajusta para centrar correctamente */
        padding: 1rem;
        z-index: 100; /* Asegura que esté sobre otros elementos */
        transition: top 0.3s ease; /* Transición suave al hacer scroll */
        backdrop-filter: blur(2px);

        
        @media (max-width: 768px) {
            width: 90%;
            padding: 0.8rem;
        }
    }

}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    .App-header {
        padding: 1.5rem;
        background-size: contain;
    }
}


.App__footer {
    width: 100%;
}